<template>

</template>
<script>
    export default {
        created: function () {
            this.$store.dispatch('removeToken')
            .then(response => {
                this.$router.push('/');
            })
        }
    }

</script>