<template>
    <div class="container">
        <div class="py-4"></div>
        <div class="py-4"></div>
        <transition name="fade">
            <div class="row justify-content-center align-content-center">
                <div class="col-sm-12 col-md-6 col-lg-4" id="join-form">
                    <div class="card">
                        <div class="card-body">
                            <form action="#" @submit.prevent="register">
                                <div class="form-group">
                                    <input type="text" name="name" id="registration_name" class="form-control" v-model="name">
                                    <label for="registration_name">Name</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="registration_email" class="form-control" v-model="email">
                                    <label for="registration_email">Email</label>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="registration_password" class="form-control" v-model="password">
                                    <label for="registration_password">Password</label>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-sm btn-block" :disabled="loading" type="submit">Create Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
export default {
    name:"register-page",
    data() {
        return {
            loading:false,
            name:"",
            email:"",
            password:"",
        }
    },
    methods: {
        register(){
            this.loading = true;
            this.$store.dispatch('registerUser',{
                name:this.name,
                email:this.email,
                password:this.password
                }).then(response=>{
                    this.$router.push('/login');
                }).catch(error=>{
                    
                }).then(res=>{
                    this.loading = false;
                })
        }
    },
}
</script>